body {
  background-color: #000;
  font-family: "DM Mono", monospace;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1, h2 {
  font-family: "Audiowide", cursive;
}

p {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.sn-group__links {
  width: 35px;
  height: 35px;
  display: block;
  background-color: #fff;
}
.sn-group__links:hover {
  background-color: rgba(255, 255, 255, 0.923);
}
.sn-group__links:active {
  background-color: rgba(255, 255, 255, 0.842);
}

.button_lime {
  width: 205px;
  height: 60px;
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0;
  color: #000;
  font-weight: 500;
  background-color: #8DFD1B;
}

:is(.swiper-slide-next,.swiper-slide-prev,
.swiper-slide-duplicate-next, .swiper-slide-duplicate-prev)::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.532);
}

@media (min-width: 320px) {
  .header__main {
    padding-top: 100px;
  }
  .header__title {
    font-size: 32px;
  }
  .header__subtitle {
    font-size: 12px;
  }

  .navigation {
    background-color: #000;
  }
  .navigation__burger-menu {
    background-color: #000;
    border-radius: 0;
  }
  .navigation__burger-menu:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navigation__links {
    color: #fff;
    font-weight: lighter;
  }
  .navigation__links:hover {
    color: rgba(255, 255, 255, 0.773);
  }
  .navigation__links:active {
    color: rgba(255, 255, 255, 0.534);
  }

  .swiper {
    width: 100%;
    padding-bottom: 30px;
  }
  .swiper .swiper-slide {
    background-position: center;
    background-size: cover;
    display: block;
    width: 220px;
    height: 320px;
  }
}
@media (min-width: 576px) {
  .header__subtitle {
    font-size: 16px;
  }

  .swiper .swiper-slide {
    width: 280px;
    height: 420px;
  }
}
@media (min-width: 1200px) {
  .header__title {
    font-size: 51px;
  }

  .swiper .swiper-slide {
    width: 360px;
    height: 520px;
  }
}
@media (min-width: 320px) {
  .intro {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .intro__title {
    font-size: 26px;
  }
  .intro__title span {
    color: #A8A8A8;
  }
  .intro__title_lime {
    color: #8DFD1B;
    font-weight: lighter;
    font-size: 14px;
    line-height: 25px;
    margin-left: 22px;
    margin-bottom: 27px;
    position: relative;
  }
  .intro__title_lime::after {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background-color: #8DFD1B;
    position: absolute;
    top: 0px;
    left: -22px;
  }
  .intro__subtitle {
    font-size: 13px;
    line-height: 18px;
  }
  .intro__subtitle:nth-child(2) {
    font-size: 12px;
  }
  .intro__btn {
    border: 1px solid #8DFD1B;
    border-radius: 0;
    color: #fff;
    margin-top: 36px;
    width: 246px;
    height: 42px;
    font-weight: lighter;
    padding-bottom: 16px;
  }
  .intro__btn:active {
    color: rgba(255, 255, 255, 0.748);
  }
}
@media (min-width: 576px) {
  .intro__title {
    font-size: 38px;
  }
  .intro__title_lime {
    font-size: 18px;
    line-height: 32px;
  }
  .intro__subtitle {
    font-size: 16px;
    line-height: 26px;
  }
  .intro__subtitle:nth-child(2) {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .intro {
    padding-top: 125px;
    padding-bottom: 113px;
  }
  .intro__title_lime {
    font-size: 21px;
    width: 564px;
  }
  .intro__subtitle {
    width: 560px;
  }
}

/*# sourceMappingURL=styles.css.map */