@media (min-width: 320px) { 
    .intro{
        padding-top: 80px;
        
        &__btn{
            border: 1px solid $lime;
            border-radius: 0;
            color: $wht;
            margin-top: 36px;
            width: 246px;
            height: 42px;
            font-weight: lighter;
            padding-bottom: 16px;
            &:active{
                color: rgba(255, 255, 255, 0.748);
            }
        }
    }
}



@media (min-width: 1200px) {
    .intro{
        padding-top: 125px;
    }
}