@media (min-width: 320px) {
    .story{
        &__title{
            margin-left: 0px;
        }
    }
    
}
@media (min-width: 768px) {
    .story{
        &__title{
            margin-left: 200px;
        }
    }
    
}
@media (min-width: 1200px) {
    .story{
        &__title{
            margin-left: 400px;
        }
    }
    
}